* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_902 {
  width: 100%;
  height: 4811px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_937 {
  width: 100%;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4547px;
  left: 0px;
  overflow: hidden;
}
.v2_938 {
  width: 187px;
  height: 24px;
  background: url("../images/v2_938.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 736px;
  overflow: hidden;
}
.v2_953 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_954 {
  width: 184px;
  height: 40px;
  background: url("../images/v2_954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.v2_955 {
  width: 40px;
  height: 40px;
  background: url("../images/v2_955.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_956 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_960 {
  width: 40px;
  height: 40px;
  background: url("../images/v2_960.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_961 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_965 {
  width: 40px;
  height: 40px;
  background: url("../images/v2_965.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_966 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_970 {
  width: 40px;
  height: 40px;
  background: url("../images/v2_970.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_971 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2_985 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1371px;
  left: 80px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v2_987 {
  width: 405px;
  height: 541px;
  background: url("../images/v2_987.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1477px;
  left: 80px;
  overflow: hidden;
}
.v2_988 {
  width: 405px;
  height: 405px;
  background: url("../images/v2_988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2_989 {
  width: 381px;
  height: 112px;
  background: url("../images/v2_989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 0px;
  overflow: hidden;
}
.v2_990 {
  width: 381px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_991 {
  width: 381px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_992 {
  width: 405px;
  height: 577px;
  background: url("../images/v2_992.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1477px;
  left: 517px;
  overflow: hidden;
}
.v2_993 {
  width: 405px;
  height: 405px;
  background: url("../images/v2_993.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2_994 {
  width: 381px;
  height: 148px;
  background: url("../images/v2_994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 0px;
  overflow: hidden;
}
.v2_995 {
  width: 381px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_996 {
  width: 381px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_997 {
  width: 405px;
  height: 541px;
  background: url("../images/v2_997.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1477px;
  left: 954px;
  overflow: hidden;
}
.v2_998 {
  width: 405px;
  height: 405px;
  background: url("../images/v2_998.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v11_3 {
  width: 439px;
  height: 582px;
  background: url("../images/v11_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 17px;
  overflow: hidden;
}
.v2_999 {
  width: 381px;
  height: 112px;
  background: url("../images/v2_999.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 0px;
  overflow: hidden;
}
.v2_1000 {
  width: 381px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1001 {
  width: 381px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1002 {
  width: 704px;
  height: 704px;
  background: url("../images/v2_1002.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2198px;
  left: 736px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}
.v2_1003 {
  width: 768px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3082px;
  left: 80px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v2_1004 {
  width: 100%;
  height: 890px;
  background: url("../images/v2_1004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 31px;
  opacity: 1;
  position: absolute;
  top: 3068px;
  left: 80px;
  overflow: hidden;
}
.v2_1005 {
  width: 710px;
  height: 522px;
  background: url("../images/v2_1005.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 303px;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 0px;
  overflow: hidden;
}
.v2_1006 {
  width: 710px;
  height: 568px;
  background: url("../images/v2_1006.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v5_1054 {
  width: 100%;
  height: 842px;
  background: url("../images/v5_1054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 89px;
  overflow: hidden;
}
.v2_1007 {
  width: 548px;
  height: 116px;
  background: url("../images/v2_1007.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 871px;
  left: 0px;
  overflow: hidden;
}
.v2_1008 {
  width: 548px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1009 {
  width: 548px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1010 {
  width: 539px;
  height: 890px;
  background: url("../images/v2_1010.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 741px;
  overflow: hidden;
}
.v6_3 {
  width: 505px;
  height: 670px;
  background: url("../images/v6_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1012 {
  width: 547px;
  height: 188px;
  background: url("../images/v2_1012.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 702px;
  left: 0px;
  overflow: hidden;
}
.v2_1013 {
  width: 548px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1014 {
  width: 548px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1016 {
  width: 516px;
  height: 793px;
  background: url("../images/v2_1016.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 2254px;
  left: 79px;
  overflow: hidden;
}
.v2_1017 {
  width: 516px;
  height: 321px;
  background: url("../images/v2_1017.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1018 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1019 {
  width: 516px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1020 {
  width: 516px;
  height: 224px;
  background: url("../images/v2_1020.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 0px;
  overflow: hidden;
}
.v2_1021 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1022 {
  width: 515px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1023 {
  width: 516px;
  height: 152px;
  background: url("../images/v2_1023.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 0px;
  overflow: hidden;
}
.v2_1024 {
  width: 516px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1025 {
  width: 516px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1031 {
  width: 100%;
  height: 236px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 4311px;
  left: 0px;
  overflow: hidden;
}
.v2_1038 {
  width: 844px;
  height: 137px;
  background: url("../images/v2_1038.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 95px;
  overflow: hidden;
}
.v2_1039 {
  width: 844px;
  height: 137px;
  background: url("../images/v2_1039.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1040 {
  width: 844px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v2_1041 {
  width: 844px;
  color: rgba(0,0,0,0.75);
  position: absolute;
  top: 101px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2_1046 {
  width: 100px;
  height: 100px;
  background: url("../images/v2_1046.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 22px;
  overflow: hidden;
}
.v3_3 {
  width: 718px;
  height: 857px;
  background: url("../images/v3_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 72px;
  overflow: hidden;
}
.v2_1015 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2198px;
  left: 80px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}